<input type="radio" name="search" id="name" value="name" [(ngModel)]="category">
Name

<input type="radio" name="search" id="phoneNo" value="phoneNo" [(ngModel)]="category">
Phone_number

<input type="radio" name="search" id="city" value="city" [(ngModel)]="category">
City
<br>
<input type="search" placeholder="Enter Your Name" [(ngModel)]="name" id="searchInput">

<button (click)="searchUser($event)">Search</button>

<div *ngIf="datatableFlag">
  <table>
    <tr>
      <th>Name</th>
      <th>Phone_number</th>
      <th>City</th>
    </tr>

    <tr *ngFor="let data of resulte">
      <td>{{data.name}}</td>
      <td>{{data.phno}}</td>
      <td>{{data.city}}</td>
    </tr>
  </table>
  <br>
  <button (click)="showModify()">Modify</button>
</div>

  <div *ngIf="showModifyData">
    <div><b>Modify</b></div>
    <div *ngFor="let data of resulte;index as i">

      <input type="text" name="modifyName" id={{i}} [(ngModel)]="data.name" (ngModelChange)="getModifedName(data.name)">
      <input type="text" name="modifyphno" id={{i}} [(ngModel)]="data.phno" (ngModelChange)="getModifedPhno(data.phno)">
      <input type="text" name="modifycity" id={{i}} [(ngModel)]="data.city" (ngModelChange)="getModifedCity(data.city)">
      <button (click)=" updateData()">Next</button>
      <br>

    </div>
  </div>

<app-sub-component1 (passingObjectToAppCom)="updateDataedObjFromChild=$event" *ngIf="userNameVisibility"
  [obj]="obj1"></app-sub-component1>

<!-- <div *ngif="updateDataedObjFromChild.length>0"> -->

<!-- </div> -->