<p>departments works!</p>
<h3>your selected dept = {{deptId}}</h3>
<p>
    <button (click)="showOverview()">overView</button>
    
</p>
<p>
    <button (click)="showContact()">Contact </button>
</p>
<router-outlet></router-outlet>
<button (click)="goPrevious()">previous</button>
<button (click)="goNext()">next</button>

<button (click)="gotoBack()">Back</button>


<!-- euero8oriuuiirriieieiei43iiiei;jurjfuggghgvnujiredlaksjdrfhgyikedufjjgriirirkfrifjfighugjfdkslakosjidhuftytytgthgyhttyhyhrtfyytytyytyyyytuuutuuyyyuuruuyyyuuuuuuutyururufruhyrhuuuruuruuruuuruuruurufuuuruuruuruuruueuuururhfhfurhduhhiiriririueriiiiriririiriuiirruruiuriuuruuruiiirhiieiiuruytuytuirwooqeireiwouiuniu iuncncbvnvncmxmomixmx,z,ez,mhffhhfjdksslallalaksjdfhhfhjdkslalakdjfkjdhjkh -->