<div class="container-fluid" *ngIf="address_componet">

    <form>

        <div class="form-group">

            <label for="">Address-1</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label for="">Address-2</label>
            <input type="text" class="">
        </div>


        <div class="form-group">
            <label for="">City</label>
            <input type="text" class="input-form">
        </div>


        <div class="form-group">
            <label for="">State</label>
            <input type="text" class="input-form" formControlName="state">
        </div>

        <!-- <div class="form-group">
            <label for="">Quantity</label>
            <input type="text" class="input-form" value="{{count1}}" formControlName="quantity">
        </div>

        <div class="form-group">
            <label for="">total Amount</label>
            <input type="text" class="input-form" value="{{total_price1}}" formControlName="total_amount">
        </div> -->


        <input type="button" name="" id="" value="Deliver to this Addess" class="btn btn-primary"
            (click)="addressComponent()">
        <!--  -->
    </form>


    <div class="fs-3" *ngIf="Recommended">

        <div>
            Recommended
        </div>

        <div class="list-group">
            <div class="list-group-item list-group-item-active"><input type="checkbox" value="Amzon Pay"><label for=""
                    class="ms-2 fs-5">Amzon
                    Pay</label></div>
            <div class="list-group-item list-group-item-active"><input type="radio" name="pay" id=""
                    value="Cash on Delivery/Pay on Delivery"><label for="" class="ms-2 fs-5">Cash on Delivery/Pay on
                    Delivery</label></div>
            <div class="list-group-item list-group-item-active"><input type="radio" value=" Pay Upi" name="pay"><label
                    for="" class="ms-2 fs-5">Pay Upi</label></div>
        </div>
        <div><button class="btn btn-primary" (click)="payment_component()">Payment</button></div>
    </div>


    <div class="list" *ngIf="payment">
        <div class="list-group-item"><b>
                Shipping To : user1232 <span>{{address1}},{{address2}}</span>
            </b>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">Items</div>
                <div class="col">{{count1}}</div>
            </div>
            <div class="row">
                <div class="col">Delivery</div>
                <div class="col">0.00</div>
            </div>
            <div class="row">
                <div class="col">Total</div>
                <div class="col">{{total_price1}}</div>
            </div>
            <div class="row">
                <div class="col">Order Total</div>
                <div class="col">{{total_price1}}</div>
            </div>
        </div>
        <div><button class="btn btn-primary">Pay</button></div>
    </div>

</div>