<div class="container">

    <form action="">

        <label for="">Address-1</label>
        <input type="text" class="input-form">
        <br>
        <label for="">Address-2</label>
        <input type="text" class="input-form">
        <br>

        <label for="">City</label>
        <input type="text" class="input-form">
        <br>

        <label for="">State</label>
        <input type="text" class="input-form">
        <br>
        <label for="">Quantity</label>
        <input type="text" class="input-form" value="{{count}}">
        <br>
        <label for="">total Amount</label>
        <input type="text" class="input-form" value="{{total_price}}">
        <br>
        
        <input type="button" name="" id="" value="Pay" class="btn btn-primary">

    </form>

</div>