.footer {
    position: fixed;
    bottom: 0%;
    border: solid white 8px;
    opacity: 20px;
    box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
    border-radius: 20px;
    height: inherit;
    width: 98%;
    background-color: white;
    margin: 6% 5% 2% 1%;

    // margin-bottom: 10%;
}
.footer-btn{
    margin-left: 84%;
}

