<p>about-works!</p>


<div class="container-fluid">
    <form action="" class="from-group" #abc="ngForm">
        {{abc.value|json}}
        <h1>Reg...</h1>
        <div>
            <input type="email" class="from-control mt-1" placeholder="Enter Email" name="email" ngModel>
        </div>
        <div>
            <input type="password" class="from-control mt-2" placeholder="Enter password" name="password" ngModel>
        </div>

        <div>
            <input type="tel" class="from-control mt-2" placeholder="Enter PhoneNumber" name="phno" ngModel>
        </div>

        <div class="from-group">
            <select name="" id="" class="custom-select mt-2">
                <option selected>i am intrested in</option>
                <option *ngFor="let topic of topices" value={{topic}}>{{topic}}</option>
            </select>
        </div>

        <div class="mt-2">
            <div class="from-check">
                <input type="radio" class="from-check-input" name="time" ngModel>
                <label for="" class="from-check-label ms-1">Morning(9-12)</label>
            </div>

            <div class="from-check">
                <input type="radio" class="from-check-input" name="time" ngModel>
                <label for="" class="from-check-label ms-1">Evening(5-8)</label>
            </div>
        </div>

        <div class="from-check mt-1">
            <input class="from-check-input" type="checkbox" name="time" ngModel>
            <label for="" class="from-check-label ms-1">send me</label>
        </div>

        <div>
            <button class="mt-3 btn btn-primary" type="submit">Submit</button>
        </div>

    </form>
</div>

<!-- {{ngfrom|json }} -->
