<div class="container-fluid" *ngIf="dashboradVisibility" class="mt-2">

    <div *ngFor="let product of searchdataArray;let i=index" class="card ms-5  mt-3 mb-1 product-hover"
        style="display: inline-block;">
        <div class="card-body" style="width: 22rem; ">


            <img src="{{product['thumbnail']}}" alt="ProductImages" class="card-img-top mt-2"
                style="width: 20rem;height: 17rem;">
            <br>
            <div class="card-title mt-2">
                <b>Product name:</b>
                {{product["title"]}}
            </div>

            <div class="card-text mt-2 mb-2">
                <b>Description:</b>
                {{product["description"]}}
            </div>

            <b>Price:</b>
            {{product["price"]|currency}}
            <br>
            <b>Rating:</b>
            {{product["rating"]}}
            <br>
            <button class="btn btn-primary mt-2 addToCartBtn"
                (click)="onClick(product,i)"><b>Add to Cart</b></button>
        </div>
    </div>
</div>

<app-footer *ngIf="dashboradVisibility" (hideEvent)="hideDashborad($event)" [buttonState]="btnState"
    [addTocartProduct]="addToCartProductArray"></app-footer>


<app-product-details *ngIf="!dashboradVisibility" [addedProduct]="addToCartProductArray"></app-product-details>