.product-hover:hover {
    box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
}

.addToCartBtn:active{

    font-weight: 1000;
    color: blue;
    background: white;
    border-radius:7% ;
}
.addToCartBtn:focus{

    font-weight: 1000;
    color: blue;
    background: white;
    border-radius:7% ;
}
// .addTocartBtn:target{

//     font-weight: 1000;
//     color: blue;
//     background: white;
//     border-radius:7% ;
// }


// .btn:focus {
//     background-color: rgba(52, 152, 219,0.6);
//   }
  
//   .btn:active, .btn:visited {
//     background-color: rgba(52, 152, 219,0.6);
//   }
  
//   .active {
//     background-color: rgba(52, 152, 219,0.6); 
//   }