<div class="mt-2 container-fluid" style="position:sticky;top:0;z-index: 1; ">

    <nav class="navbar navbar-expand-lg navbar-light bg-light"
        style="border-radius: 20px;box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);">
        <a class="navbar-brand ms-2" routerLink="/" (click)="show_dashboard()">Shopify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <input class="form-control search" style="margin-left: 32%; width: 32%;" type="search" placeholder="Search"
                aria-label="Search" [(ngModel)]="searchText">
            <button class="btn btn-primary" (click)="showNavbar()" style="margin-left: 490px;"><b>Filter</b></button>
        </div>

    </nav>
</div>


<div class="container" *ngIf="navbarVisibility">
    <div class="ss" style="background-color: black;" (click)="navbarVisibility=false"></div>
    <!-- <div class="modal"></div> -->
    <div (blur)="navbarVisibility=false" class="row" style="position: fixed;
    margin: 6% 5% 5% 10%;
    z-index: 1;
    border-radius: 20px;
    background-color: white;
    width: 67%;
    height: 44%;
    border: 10px solid rgba(242, 235, 235, 0.263);
    box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
    ">
        <div class="col-sm" style="margin-top: 2%;margin-bottom: 2%; ">

            <!-- Second Column (First Item) -->
            <ul class="list-group">
                <li class="list-group-item list-group-item-active" (click)="showCategory()">
                    Categories
                </li>
                <li class=" list-group-item list-group-item-active" (click)="showBrand()">
                    Brands
                </li>
                <li class="list-group-item list-group-item-active" (click)="showDiscount()">
                    Discount
                </li>
                <li class="list-group-item list-group-item-active" (click)="showRating()">
                    Ratings
                </li>
                <li class="list-group-item list-group-item-active" (click)="showPrice()">
                    Prices
                </li>
            </ul>

        </div>
        <!-- Second Column (Single Item) -->
        <div class="col-sm" style="margin-top: 0%; margin-bottom: 2%; margin-left: 2%;">
            <div class="" *ngIf="VisibalityCategory">

                <div class="" *ngFor="let category of categories;let i=index">
                    <input type="checkbox" value="{{category.name}}" class="p-2" name="{{category}}"
                        (change)="onSelectCategory($event)" [checked]="category.status">
                    <label class="p-2">{{category.name}}</label>
                </div>
            </div>

            <div *ngIf="VisibalityBrand" style="overflow-y: scroll; height: 22%;">

                <div class="" *ngFor="let brand of newBrandes">
                    <input type="checkbox" value="{{brand.name}}" class="p-2" (change)="onSelectBrand($event)"
                        [checked]="brand.status">
                    <label class="p-2">{{brand.name}}</label>
                </div>
            </div>

            <div *ngIf="VisibalityDiscount">
                <div class="" *ngFor="let discount of discountArray">
                    <input type="checkbox" value="{{discount.name}}" class="p-2" (change)="onSelectDiscount($event)"
                        [checked]="discount.status">
                    <label class="p-2">{{discount.name}}</label>
                </div>

 
            </div>



            <div class="" *ngIf="VisibalityRanting">
                <div class="" *ngFor="let rating of ratingArray">
                    <input type="checkbox" value="{{rating.name}}" class="p-2" (change)="onSelectRating($event)"
                        [checked]="rating.status">
                    <label class="p-2">{{rating.name}}</label>
                </div>
          
            </div>


            <div *ngIf="VisibalityPrice">
                <div class="" *ngFor="let price of priceArray">
                    <input type="checkbox" value="{{price.name}}" class="p-2" (change)="onSelectPrice($event)"
                        [checked]="price.status">
                    <label class="p-2">{{price.name}}</label>
                </div>

 

            </div>


            <!-- ///// -->
        </div>
        <button class="btn btn-outline-primary" (click)="Filter()">Filter</button>
        <button class="btn btn-outline-primary" (click)="reset()">Reset</button>

    </div>
    <!-- </div> -->

</div>



<app-dashboard *ngIf="dashboradVisibility" [GETDATA]="getData" [serachValue]="searchText" [productobject]="resultObject"
    [categoryArray]="selectedCategoryArray" [brandArray]="selectedBrandArray" [discountArray]="selectedDiscountArray"
    [ratingArray]="selectedRatingArray" [priceArray]="selectedPriceArray"
    [allselectedValues]="resultObject"></app-dashboard>


          <!--                 
                <div class="">
                    <input type="checkbox" value="2" class="p-2" (change)="onSelectRating($event)">
                    <label class="p-2">2</label>
                </div>
                <div class="">
                    <input type="checkbox" value="3" class="p-2" (change)="onSelectRating($event)">
                    <label class="p-2">3</label>
                </div>
                <div class="">
                    <input type="checkbox" value="4" class="p-2" (change)="onSelectRating($event)">
                    <label class="p-2">4</label>
                </div>
                <div class="">
                    <input type="checkbox" value="5" class="p-2" (change)="onSelectRating($event)">
                    <label class="p-2">5</label>
                </div> -->

               <!-- <div class="">
                    <input type="checkbox" value="100-500" class="p-2" (change)="onSelectPrice($event)">
                    <label class="p-2">100-500</label>
                </div>
                <div class="">
                    <input type="checkbox" value="500-1000" class="p-2" (change)="onSelectPrice($event)">
                    <label class="p-2">500-1000</label>
                </div> -->
                               <!-- <div class="">
                    <input type="checkbox" value="5-10" class="p-2" (change)="onSelectDiscount($event)">
                    <label class="p-2">5-10</label>
                </div>
                <div class="">
                    <input type="checkbox" value="10-15" class="p-2" (change)="onSelectDiscount($event)">
                    <label class="p-2">10-15</label>
                </div>
                <div class="">
                    <input type="checkbox" value="15-20" class="p-2" (change)="onSelectDiscount($event)">
                    <label class="p-2">15-20</label>
                </div> -->
