.active {
    color: black;
    background-color: white;
}

.search {
    margin-left: 18%;
    // margin-right: 10px;
    width: 29%
}

.modal-background {
    background: #000;
}

.modal {
    position: fixed;
    margin-top: 25%;
    margin-left: 8%;
    z-index: 1;
    background-color: #000;
}