<!-- <hr> -->

<div class="mb-3"> <b>Address Details</b></div>

<div class="input-group">
    <input class="from-control ms-2 text-center" type=" text" placeholder="Name" name="" id="" value={{obj.name}}
        disabled>

    <input class="from-control ms-2  text-center" type="text" placeholder="Address-1" id="" value={{address1}}
        [(ngModel)]="address1">


    <input class="from-control ms-2  text-center" type="text" placeholder="Address-1" name="" id="" value={{address2}}
        [(ngModel)]="address2">

    <select class="ms-3 text-center" id="" [(ngModel)]="obj.city">
        <option value="" *ngFor="let city of citys" value={{city}}>{{city}}</option>
    </select>


    <select class="ms-3 text-center" name="" id="" [(ngModel)]="selectedState">
        <option *ngFor="let state of states" value={{state}}>{{state}}</option>
    </select>

    <input type="button" class="btn btn-primary" (click)="save()" value="save">

    <hr>

    <input type="button" *ngIf="showModifyData" (click)="pushtomainobj()" value="Push" class="btn btn-primary">


    <div *ngIf=" showPushData" class="ms-3 mt-3">
        {{output|json}}
    </div>